$primary-color: #ff525d;
$light-color: #ffffff;
$xlight-color: #c8c8cb;
$dark-color: #4b5862;
$hover-color: #ff7a85;
$headings-color: #1f3f5b;
$footer-background-color: #25252d;
$primary-font: 'Overpass', sans-serif;
$accent-font: 'Ubuntu', sans-serif;
